#main
  #main-middle
    #main-left
      %div
        %div
          COLLECT
        %div
          %ul
            %li
              Inbox
      %div
        %div
          FOCUS
        %div
          %ul
            %li
              Today
            %li
              Next
            %li
              Scheduled
            %li
              Someday
            %li
              Projects
          %div
            ACTIVE PROJECTS
          %ul
            %li
              my new project
          %div
            AREAS
          %ul
            %li
              responsibillity
          %div
            PEOPLE
          %ul
            %li
              someone
          %div
            Logbook
          %div
            Trash(n)
    #main-right
